In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('death_causes.csv')

In [17]:
df

,Year,All causes,Heart disease,Cancer,Unintentional injuries,CLRD,Stroke,Alzheimer's disease,Diabetes
0,2008,774.9,192.1,176.4,39.2,44.7,42.1,25.8,22.0
1,2009,749.6,182.8,173.5,37.5,42.7,39.6,24.2,21.0
2,2010,747.0,179.1,172.8,38.0,42.2,39.1,25.1,20.8
3,2011,741.3,173.7,169.0,39.1,42.5,37.9,24.7,21.6
4,2012,732.8,170.5,166.5,39.1,41.5,36.9,23.8,21.2
5,2013,731.9,169.8,163.2,39.4,42.1,36.2,23.5,21.2
6,2014,724.6,167.0,161.2,40.5,40.5,36.5,25.4,20.9
7,2015,733.1,168.5,158.5,43.2,41.6,37.6,29.4,21.3
8,2016,728.8,165.5,155.8,47.4,40.6,37.3,30.3,21.0
9,2017,731.9,165.0,152.5,49.4,40.9,37.6,31.0,21.5
10,2018,723.6,163.6,149.1,48.0,39.7,37.1,30.5,21.4

In [20]:
df = df.set_index('Year')

In [25]:
df.columns

Index(['All causes', 'Heart disease', 'Cancer ', 'Unintentional injuries',
       'CLRD', 'Stroke', 'Alzheimer's disease', 'Diabetes'],
      dtype='object')

In [23]:
df[['Heart disease']]

      Heart disease
Year
2008          192.1
2009          182.8
2010          179.1
2011          173.7
2012          170.5
2013          169.8
2014          167.0
2015          168.5
2016          165.5
2017          165.0
2018          163.6